<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/schema/13.0.xsd"
    bootstrap="vendor/autoload.php"
    cacheDirectory=".phpunit.cache"
    colors="true"
    failOnEmptyTestSuite="true"
    failOnPhpunitWarning="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">app</directory>
        </include>
    </source>

    <php>
        <env name="MYSQL_HOST" value="mysql"/>
        <env name="MYSQL_PORT" value="3306"/>
        <env name="MYSQL_DATABASE" value="app"/>
        <env name="MYSQL_TEST_DATABASE" value="app_test"/>
        <env name="MYSQL_USER" value="app"/>
        <env name="MYSQL_PASSWORD" value="app"/>
    </php>
</phpunit>
